@tailwind base;
@tailwind components;
@tailwind utilities;

.lang-ar body {
  font-family: "Cairo", sans-serif;
}

html[dir='rtl'] body {
  font-family: "Cairo", sans-serif;
}

/* .dark body {
  background-color: rgb(15, 23, 42);
  color: #f9f9f9;
}

body {
  background-color: #f9f9f9;
  color: #333;
} */

:root {
  --color-bg: #ffffff;
  --color-card: #f9fafb;
  --color-bg-sidebar: #f3f4f6;
  --color-text: #717579;
  --color-text-dark: #111827;
  --color-primary: #44814E;
  --color-primary-hover: #32603a;
  --color-secondary: #FF2E2E;
  --color-border: #e5e7eb;
  --color-accent: #f59e0b;
}


/* === Dark Mode === */
.dark {
  --color-bg: #1f2937;
  --color-card: #111827;
  --color-text: #f9f9f9;

  --color-border: #374151;
  --color-accent: #fbbf24;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* في ملف tailwind.css أو global.css */
@layer utilities {
  .transition-width {
    transition-property: width;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }
}

.bg-gradient1 {
  background: linear-gradient(227.32deg, #ac39d5 -5.2%, #d539c5 73.99%);
}

.bg-gradient2 {
  background: linear-gradient(204.11deg, #40d5a8 15.46%, #40bad5 95.79%);
}

.bg-gradient3 {
  background: linear-gradient(221.17deg, #ff827a 5.91%, #ffa825 97.67%);
}

.bg-gradient4 {
  background: linear-gradient(198.93deg, #461ee7 12.77%, #1eb6e7 94.68%);
}

.bg-gradient5 {
  background: linear-gradient(221.17deg, var(--color-primary) 12.77%, var(--color-primary-hover) 94.67%);
}

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.4) 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10, 10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;
}


.ripple:hover::after {
  transform: scale(0, 0);
  opacity: 1;
  transition: 0s;
}